progress {
    margin-top: -25px;
    width: 100%;
    background: #183147;
    opacity: 0.8;
}

/* Firefox */
progress::-moz-progress-bar {
    width: 100%;
    height: 7px;
    background: #183147;
    opacity: 0.8;
}

/* Chrome */
progress::-webkit-progress-bar {
    background: #183147;
    opacity: 0.8;
}

/* Chrome */
progress::-webkit-progress-value {
    width: 100%;
    height: 7px;
    background: orange;
}