.red {
    color: red;
}
  
.bold {
    font-weight: bold;
}

.default {
    color: #fff;
    opacity: .5;
}
  
button {
    border: 1px solid #183147;
    padding: 16px;
    background-color: orange;
    font:inherit;
}
  
button:hover {
    background-color: orange;
    color:black;
}