.Book {
    display: block;
    width: 70%;
    margin: 16px auto;
    border: 1px solid #183179;
    box-shadow: 0 2px 3px #3b2f75;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 1%;
    text-align: right;
    background-color: white;
}

.ActionLabel {
    align-content: center;
    font-size: 24pt;
}

.ActionButton {
    border: 1px solid whitesmoke;
    padding: 16px;
    background-color: #183179;;
    font:inherit;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #183179;
    opacity: 1;
}

.ActionButton:hover {
    background-color: #183179;
    color:white;
    opacity: 0.8;
}

.AttrButton {
    border: 1px solid whitesmoke;
    padding: 16px;
    background-color: orange;
    font:inherit;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #183179;
}
  
.AttrButton:hover {
    background-color: orange;
    color:white;
    opacity: 0.8;
}

ul {
    width: 100%;
    list-style-type: none;
    text-align: justify;
}

ul li {
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
    vertical-align: text-top;
    align-content: center;
    
}

img {
    width: 100px;
    height: 100px;
}

.Item-content {
    min-width: 19%;
    max-width: 19%;
    align-content: center;
    display: inline-block;
}

.Item-content-extreme {
    margin-top: 2%;
    min-width: 10%;
    max-width: 10%;
    align-content: center;
    display: inline-block;
}