.ModalWindow {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 300px;
  min-height: 300px;
  padding: 15px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background: #fff;
}

.ModalOverlay {
  z-index: 9998;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

button {
    margin-left: 5px;
}