.Attribute {
    margin-top: 15%;
    color: black;
    min-height: 60px;
}

.Attribute:hover {
    opacity: .6;
}

.Title {
    margin-top: -25px;
    font-size: 12pt;
    align-content: flex-start;
    display: block;
    opacity: .7;
}

.Value {
    display: block;
    padding-top: 10px;
    font-size: 14pt;
}

.Multiple-value {
    display: inline-block;
    padding:5px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 14px;
    background-color: orange;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #747781;   
}

input {
    font-size: 14pt;
}