.Header {
    position: fixed;
    margin-top: -75px;
    width: 100%;
    height: 70px;
    background-color: #022040;
    z-index: 999;
    box-shadow: 0px 0px 5px #022040;
}

.Header span {
    font-size: 16pt;
    margin-left: -70%;
    padding-top: 10px;
    color: white;
    align-content: flex-start;
    display: block;
    opacity: .8;
}

.Header button {
    font-size: 16pt;
    margin-left: -90%;
    margin-top: 1%;
    padding-top: 10px;
    
}

.Mini {
    font-size: 12pt;
    margin-left: -75%;
    color: whitesmoke;
    align-content: flex-start;
    display: block;
    opacity: .8;
}

.CreateBookButton {
    margin: 2%;
    border: 1px solid gray;
    padding: 16px;
    background-color: #183179;
    font:inherit;
    vertical-align: middle;
    font-size: 24pt;
    color: white;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #183179;
    width: 80px;
    height: 80px;
    opacity: 1;
}

.CreateBookButton:hover {
    background-color: #183179;
    color:white;
    opacity: 0.8;
}

a {
    font-size: 36pt;
    align-content: center;
    vertical-align: middle;
}